{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_profile'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_profile'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{  user.email }}</dd>
        </dl>

        <p>
            <a class="btn btn-outline-primary" href="{{ url('user_change_data', {id: user.id}) }}" title="{{ 'action.user_change_data'|trans }}">
                {{ 'action.user_change_data'|trans }}
            </a>

            <a class="btn btn-outline-primary" href="{{ url('user_change_pass', {id: user.id}) }}" title="{{ 'action.user_change_pass'|trans }}">
                {{ 'action.user_change_pass'|trans }}
            </a>

            <a class="btn btn-outline-primary" href="{{ url('avatar_create', {id: user.id}) }}" title="{{ 'action.avatar'|trans }}">
                {{ 'action.avatar'|trans }}
            </a>

{#            <a class="btn btn-outline-primary" href="{{ url('avatar_edit', {id: user.id}) }}" title="{{ 'action.avatar_edit'|trans }}">#}
{#                {{ 'action.avatar_edit'|trans }}#}
{#            </a>#}
        </p>
    {% if not is_granted('ROLE_ADMIN') %}
        <h3>{{ 'label.books_owned'|trans }}</h3>
        {% if pagination is defined and pagination.items|length %}


        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>

                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'rental.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.rentalDate'|trans, 'rental.rentalDate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.status'|trans, 'rental.status') }}</th>
                <th>{{ 'label.actions'|trans }}</th>


            </tr>
            </thead>
            <tbody>
            {% for rental in pagination.items %}
                <tr>
                    <td>
                        {{ rental.book.title}}
                    </td>
                    <td>
                        {{ rental.rentalDate|format_date('long')}}
                    </td>
                    <td>
                        {% if rental.status == false %}
                            {{ 'message.awaiting'|trans }}
                        {% else %}
                            {{ 'message.approved'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        {% if rental.status == true %}
                            <a class="btn btn-primary" href="{{ url('return', {id: rental.id}) }}" title="{{ 'action.return'|trans }}">
                                {{ 'action.return'|trans }}
                            </a>
                        {% else %}
                            <a class="btn btn-primary" href="{{ url('return', {id: rental.id}) }}" title="{{ 'action.cancel_rental'|trans }}">
                                {{ 'action.cancel_rental'|trans }}
                            </a>
                        {% endif %}
                    </td>

            {% endfor %}
            </tbody>
        </table>
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        {% endif %}
    {% endif %}

        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        {% include'default/_single_alert_message.html.twig' with{
            type: 'warning',
            message: 'message.record_not_found'| trans
        } %}
    {% endif %}
{% endblock %}