{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_list'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'usery.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.email'|trans, 'user.email') }}</th>
{#                <th>{{ knp_pagination_sortable(pagination, 'label.password'|trans, 'user.password') }}</th>#}
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
{#                    <td>{{ user.password }}</td>#}
                    <td>
{#                        <a href="{{ url('user_show', {id: user.id}) }}" title="{{ 'action.show'|trans }}">#}
{#                            {{ 'action.show'|trans }}#}
{#                        </a>#}
{#                        <br>#}
                        <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
{#                        <br>#}
{#                        <a href="{{ url('user_delete', {id: user.id}) }}" title="{{ 'action.delete'|trans }}">#}
{#                            {{ 'action.delete'|trans }}#}
{#                        </a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {#            {{ 'message.empty_list'|trans }}#}
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}