{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_list'|trans }}
{% endblock %}

{% block body %}

    <br>


    {% if pagination is defined and pagination.items|length %}


        <div class="form-group text-center container">
            {{ form_start(form, { 'attr': { 'class': 'mb-3' } }) }}
            {{ form_widget(form.titleSearch, { 'attr': { 'class': 'mb-3' } }) }}
            {{ form_widget(form.authorSearch, { 'attr': { 'class': 'mb-3' } }) }}
            <input type="submit" value="{{ 'action.search'|trans }}" class="btn btn-outline-primary"/>
            {{ form_end(form) }}
        </div>

        <div class=" text-center container mb-3 ">
            <a class="btn btn-outline-primary"
               href="{{ url('book_index')}}"
               title="{{'label.clear_filters'|trans}}">
                {{'label.clear_filters'|trans}}
            </a>
        </div>

        <h1>{{ 'title.book_list'|trans }}</h1>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>


    {% if is_granted('ROLE_ADMIN') %}
        <br>
        <a class="btn btn-outline-primary" style="margin-top:10px" href="{{  url('book_create')}}" title="{{ 'action.create_book'|trans }}">
            {{ 'action.create_book'|trans }}
        </a>
    {% endif %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'book.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'book.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.author'|trans, 'book.author') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.description'|trans, 'book.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'book.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'book.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.available'|trans, 'book.available', {'direction': 'desc'}) }}</th>
{#                <th>{{ 'label.available'|trans }}</th>#}


            {% if is_granted('ROLE_ADMIN') %}

                <th>{{ 'label.owner'|trans }}</th>
{#                <th>{{ 'label.actions'|trans }}</th>#}

            {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for book in pagination.items %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>
                        {% if is_granted('VIEW', book) %}
                            <a href="{{ url('book_show', {id: book.id}) }}" title="{{ 'action.show'|trans }}">
                                {{ book.title}}
                            </a>
                        {% else %}
                            {{ book.title}}
                        {% endif %}
                    </td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.description }}</td>
                    <td>{{ book.createdAt|format_date('long') }}</td>
                    <td>{{ book.updatedAt|format_date('long') }}</td>
{#                    <td>{{ book.category.title }}</td>#}
{#                    <td>#}
{#                        {% for tag in book.tags %}#}
{#                            {{ tag.title }}#}
{#                        {% endfor %}#}

{#                    </td>#}
                    <td>

                        <a class="btn btn-outline-primary"
                           href="{{ url('book_index', {'categoryId' : book.category.id}) }}"
                           title="{{ book.category.title }}">
                            {{ book.category.title }}
                        </a>

                    </td>
                    <td>
                        {% if book.tags is defined and book.tags|length %}
                            {% for tag in book.tags %}
                                <a class="btn btn-outline-primary"
                                   href="{{ url('book_index', {'tagId' : tag.id}) }}"
                                   title="{{ tag.title }}">
                                    {{ tag.title }}
                                </a>
                            {% endfor %}
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        {% if book.available == true %}
                            {{ 'message.available'|trans }}
                        {% else %}
                            {{ 'message.not_available'|trans }}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {% if book.owner != null %}
                                {{ book.owner.email }}
                            {% else %}
                                {{ '-' }}
                            {% endif %}
                        </td>
{#                        <td>#}

{#                            <br>#}
{#                            <a href="{{ url('book_edit', {id: book.id}) }}" title="{{ 'action.edit'|trans }}">#}
{#                                {{ 'action.edit'|trans }}#}
{#                            </a>#}
{#                            <br>#}
{#                            <a href="{{ url('book_delete', {id: book.id}) }}" title="{{ 'action.delete'|trans }}">#}
{#                                {{ 'action.delete'|trans }}#}
{#                            </a>#}
{#                        </td>#}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}