{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.book_details'|trans({'%id%': book.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.book_details'|trans({'%id%': book.id|default('')}) }}</h1>
    {% if book is defined and book|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ book.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  book.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ book.author}}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ book.description }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  book.category.title }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
            <dd>
                {% for tag in book.tags %}
                    {{ tag.title }}
                {% endfor %}
            </dd>
            {% if is_granted('ROLE_ADMIN') %}

                <dt>{{ 'label.owner'|trans }}</dt>
                <dd>
                    {% if book.owner != null %}
                        {{ book.owner.email }}
                    {% else %}
                        {{ '-' }}
                    {% endif %}
                </dd>

            {% endif %}

        </dl>
        {% if book.owner == null %}
        <p>
{#            <a class="btn btn-primary" href="{{ url('rent') }}"#}
{#               title="{{ 'action.rent'|trans }}" >#}
{#                {{ 'action.rent'|trans }}#}
{#            </a>#}
            <a class="btn btn-primary"
               title="{{ 'action.rent'|trans }}" >
                {{ 'action.rent'|trans }}
            </a>
        </p>
        {% endif %}
        <p>
            <a href="{{ url('book_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}