{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <a class="btn btn-outline-primary" href="{{ url('tag_create') }}" title="{{ 'action.create'|trans }}">
            {{ 'action.create_tag'|trans }}
        </a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'tag.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'tagcreatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'tag.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tag.title') }}</th>
{#                <th>{{ 'label.actions'|trans }}</th>#}
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.createdAt|format_date('long')  }}</td>
                    <td>{{ tag.updatedAt|format_date('long')  }}</td>
                    <td><a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ tag.title}}
                        </a>
                    </td>
{#                    <td>#}
{#                        <a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action.show'|trans }}">#}
{#                            {{ 'action.show'|trans }}#}
{#                        </a>#}
{#                        <br>#}
{#                        <a href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action.edit'|trans }}">#}
{#                            {{ 'action.edit'|trans }}#}
{#                        </a>#}
{#                        <br>#}
{#                        <a href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans }}">#}
{#                            {{ 'action.delete'|trans }}#}
{#                        </a>#}
{#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        {% include'default/_single_alert_message.html.twig' with{
            type: 'warning',
            message: 'message.empty_list'| trans
        } %}
    {% endif %}
{% endblock %}