{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tag_details'|trans({'%id%': tag.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tag_details'|trans({'%id%': tag.id|default('')}) }}</h1>
    {% if tag is defined and tag|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ tag.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ tag.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ tag.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  tag.title }}</dd>
        </dl>
        <p>

            <a class="btn btn-outline-primary" href="{{ url('tag_edit', {id: tag.id}) }}" title="{{ 'action.edit'|trans }}">
                {{ 'action.edit'|trans }}
            </a>

            <a class="btn btn-outline-primary" href="{{ url('tag_delete', {id: tag.id}) }}" title="{{ 'action.delete'|trans }}">
                {{ 'action.delete'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('tag_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        {% include'default/_single_alert_message.html.twig' with{
            type: 'warning',
            message: 'message.record_not_found'| trans
        } %}
    {% endif %}
{% endblock %}